header {
    background-color: #4b3fb3;
    color: #FFFFFF;
    padding: 30px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

header h1 {
    font-size: 30px;
    margin: 0;
}

header p {
    margin: 0px;
    margin-top: 5px; /* Aproxima o p do h1 */
}


body {
    font-family: Arial, sans-serif;
    color: #4b3fb3;
    background-color: #f2f2f2;
    margin: 0;
    padding-top: 130px; /*paddin acima do body que as classes não sejam comidas pelo header*/
    padding-bottom: 60px; /*paddin abaixo do body que as classes não sejam comidas pelo footer*/
}


.contato {
    background-color: #FFFFFF;
    margin: 10px auto;
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contato h2 {
    color: #4b3fb3;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}


.formulario label {
    font-size: 14px;
    color: #333;
    margin-top: 10px;
}

.formulario input[type="text"], .formulario input[type="email"], .formulario input[type="tel"], 
.formulario textarea {
    width: 100%;
    padding: 10px;
    padding-top: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    box-sizing: border-box; /*Inclui o padding e border na largura total do elemento. Assim, o width: 
    100% considera tanto o padding quanto a border, evitando que o campo ultrapasse o limite do contêiner.*/
}

.formulario textarea {
    resize: vertical; /* Permite redimensionar verticalmente */
}

.formulario button[type="submit"] {
    background-color: #4b3fb3;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
    width: 100%;
    transition: background-color 0.3s;
}



footer {
    font-size: 10px;
    color: #FFFFFF;
    text-align: center;
    background-color: #4b3fb3;
    margin: 0;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
}
