/* Paleta de cores: Azul Escuro (#1E3A5F), Cinza (#F2F2F2), Branco (#FFFFFF) */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #4b3fb3;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #4b3fb3;
    color: #FFFFFF;
    margin: 0px;
    padding: 10px;
    text-align: center;
}

h1 {
    font-size: 2.0em;
}

.servicos {
    background-color: #FFFFFF;
    margin: 10px auto;
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.missao-visao {
    background-color: #FFFFFF;
    margin: 10px auto;
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #1E3A5F;
    color: #FFFFFF;
    text-align: center;
    margin: 0px;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
